---
title: /function
---

<script lang="ts">
import Info from '$lib/reusables/Info.svelte';
import Warning from '$lib/reusables/Warning.svelte';
import Tip from '$lib/reusables/Tip.svelte';
</script>

# /function command
This command runs any `.mcfunction` file when called. You can also pass in a NBT compound or NBT source path if the function is a macro function.

## Syntax
`function <function>` - Runs a function