---
title: Commands
---

<script lang="ts">
import {Info, Warning, Tip} from '$lib/reusables';
</script>

# Commands
Commands tell the game to do things. [Functions](/files/functions) are files which are made up of many 