@import "./code_theme.css";

@import "tailwindcss";

@import "./md.css";
@import "./admonitions.css";

:root {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  image-rendering: optimizeQuality;
}

@theme {
  --font-lexend: "Lexend", sans-serif;
  --color-dph-orange: oklch(69.27% 0.2042 40.82);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  @apply rounded-full bg-stone-700;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-stone-500;
}

mark {
  background-color: var(--color-dph-orange);
}
