---
title: Resources
description: "Listed here are links to credible and reliable places to aid in command support and creation."
---

<script lang="ts">
import {Info, Warning, Tip, Version, Highlight} from '$lib/reusables';
</script>

# Resources
Listed here are links to credible and reliable places to aid in command support and creation.

### Datapack Hub
<Highlight color="#738ADB">Discord</Highlight> <a href="https://discord.datapackhub.net">https://discord.datapackhub.net</a>

### MCStacker
<Highlight color="#DC2626">Website</Highlight> <a href="https://mcstacker.net/">https://mcstacker.net/</a>

### Data Pack Generators
<Highlight color="#DC2626">Website</Highlight> <a href="https://misode.github.io/">https://misode.github.io/</a>
