---
title: Debugging your Datapacks
description: "Sometimes your datapack won't work, and you will have to figure out what exactly doesn't work in them. And this guide will help you with exactly that!"
---

<script lang="ts">
import {Info, Warning, Tip, Version, Note} from '$lib/reuseables';
</script>
<Version>This page is validated and up to date with Minecraft Java: 1.21</Version>

# test fix later ig